@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-950 text-white;
}

input {
  @apply text-black px-2 py-1 text-sm rounded;
}
select {
  @apply text-black px-2 py-1.5 text-sm rounded;
}

a {
  @apply text-sky-400 hover:text-sky-500;
}
